@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-size-full {
		background-size: 100% 100%;
	}

	.feature-swiper-navigation {
		@apply absolute top-[50%] -translate-y-[50%] flex w-full justify-between px-6;
	}

	.feature-swiper-pagination {
		@apply flex items-center mt-5 md:mt-7 lg:mt-4;
	}

	.feature-swiper-pagination li {
		@apply rounded-full bg-white h-[10px] w-[10px] mx-[6px] md:h-[14px] md:w-[14px] md:mx-[10px];
	}

	.feature-swiper-active {
		background: url("../assets/images/swiper-feature-dot.png");
		background-size: 100% 100%;
	}

	.feature-swiper-pagination .feature-swiper-active {
		@apply h-[22px] w-5 md:h-[30px] md:w-[28px];
	}

	.feature-swiper li {
		transition: all 0.2s linear;
		/* @apply absolute w-[230px] h-[390px] scale-[0.8] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2  border-2 border-white/60; */
		@apply absolute left-0 w-[230px] h-[390px] md:w-[316px] md:h-[536px] lg:w-[691px] lg:h-[421px] scale-[0.8] border-2 border-white/60;
	}

	.feature-swiper-slide-active {
		/* @apply bg-size-full !z-10 !scale-100 bg-[url('../assets/images/swiper-bg-small.png')] lg:bg-[url('../assets/images/swiper-bg-large.png')] px-[9px] pt-[5px] pb-[10px]; */
		@apply bg-size-full z-10 !scale-100 bg-[url('../assets/images/swiper-bg-small.png')] lg:bg-[url('../assets/images/swiper-bg-large.png')] px-[9px] pt-[5px] pb-[10px] md:px-3 md:pt-[6px] md:pb-[13px] md:px-[15px] md:pt-2 md:pb-[14px] !border-0;
	}

	.feature-swiper-next {
		/* @apply !left-auto !translate-x-0 !-translate-y-1/2 !-right-20 !top-1/2; */
		@apply !left-20 md:!left-28 lg:!left-44 scale-[0.8] z-[0];
	}

	.feature-swiper-prev {
		/* @apply !-translate-y-1/2 !translate-x-0 !-left-20 !top-1/2; */
		@apply !-left-20 md:!-left-28 lg:!-left-44 scale-[0.8] z-[0];
	}

	.feature-swiper-slide-not-active {
		visibility: hidden;
	}

	.feature-swiper-slide-active img,
	.feature-swiper-prev img,
	.feature-swiper-next img,
	.feature-swiper-slide-not-active img {
		height: 100%;
		width: 100%;
	}

	.feature-swiper-prev::before,
	.feature-swiper-next::before,
	.feature-swiper-slide-not-active::before {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		content: "";
		background-color: rgba(0, 0, 0, 0.7);
	}

	.article-swiper-container {
		@apply mt-[60px] !ml-7 w-[280px] h-[183px] md:w-[385px] md:h-[250px] md:mt-[82.5px] md:!ml-[38.5px] lg:w-[458px] lg:h-[316px] lg:mt-[121px] lg:!ml-[62.5px];
	}

	.article-swiper-container .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
		@apply bottom-1 h-4 flex justify-center items-center;
	}

	.article-swiper-container .swiper-pagination-bullet {
		@apply h-[7px] w-[7px] md:h-[10px] md:w-[10px] bg-[#978d79] opacity-100;
	}

	.article-swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
		background: url("../assets/images/article-swiper-dot.png");
		background-size: 100% 100%;
		@apply h-[10px] w-[13px] md:w-[17px] md:h-[13px];
	}

	.article-list-category-nav li {
		@apply text-[#ba926b] font-medium px-[10px] mx-[15px] h-[21px] relative md:px-[13.75px] md:mx-[21px] md:h-[28.875px] md:text-[20px];
	}

	.article-list-category-nav li::after {
		content: "/";
		color: #ba926b;
		font-weight: 500;
		position: absolute;
		right: -1.5rem;
		opacity: 0.5;
	}

	.article-list-category-nav .active-category {
		border-radius: 0.6875rem;
		background-size: auto 100%;
		background-repeat: no-repeat;
		@apply text-white bg-[url('../assets/images/type-btn-m.png')] bg-[#ff8003] md:rounded-full;
	}
}
